book_layout.sty
peeters_macros.sty
peeters_colorscheme.sty
peeters_figures.sty
peeters_tablebox.sty
peeters_layout.sty
peeters_braket.sty
peeters_layout_exercise.sty
macros_bm.sty
macros_cal.sty
macros_lcal.sty
macros_qed.sty
gabook.sty
matlab.sty
notes/phy487-qmsolids/phy487.tex
notes/phy487-qmsolids/Bibliography.bib
notes/phy487-qmsolids/FrontBackmatter/DirtyTitlepage.tex
notes/phy487-qmsolids/FrontBackmatter/Index.tex
notes/phy487-qmsolids/FrontBackmatter/ContentsAndFigures.tex
notes/phy487-qmsolids/FrontBackmatter/Bibliography.tex
notes/phy487-qmsolids/FrontBackmatter/Dedication.tex
notes/phy487-qmsolids/FrontBackmatter/Titleback.tex
notes/phy487-qmsolids/FrontBackmatter/Titlepage.tex
notes/phy487-qmsolids/FrontBackmatter/copyright.tex
notes/phy487-qmsolids/FrontBackmatter/Version.tex
notes/phy487-qmsolids/currentBookCopyright.tex
notes/phy487-qmsolids/mathematica.tex
notes/phy487-qmsolids/backmatter.tex
